@font-face {
  font-family: 'idroid';
  src: url(IDroid/IDroid.woff);
}
*{
  padding: 0px;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c5ebd6;
  margin-top: 0px; 
  margin-left: 0px;
  margin-right: 0px; 
}

header{
  text-align: center;
  background: linear-gradient(to top, rgb(32, 116, 81), rgba(41, 146, 102, 0.692));
  padding:20px;
  text-shadow: 2px 1px 1px 1px rgb(143, 0, 0);
  
  color: white;
 
 
}
nav{
text-align: start;
font-weight: bold;
padding-top: 50px ;
margin-top: 40px;


}
nav > a{
  text-decoration: none;
  color: white;
  margin-right: 8px;
  transition: background-color 0.15s
  
}
header > h1{
  text-shadow: 1px 2px 2px  rgba(0, 0, 0, 0.637);
}
header > aside{
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.637);
}
main{
  background-color: white;
  margin: -20px 145px 10px 145px;
  max-width: 800px;
  min-width: 320px;
  margin: auto;
  padding-top: 13px;
  
}
article > h2{
  color: rgb(32, 97, 61);

}
img{
 width: 100%;
}
div{
  background-color:rgb(26, 92, 56);
  padding: 10px;
}
footer > h2{
  background-color:rgb(58, 155, 100) ;
  border-radius: 20px;
  color: white;
  margin-left: 20px;
}
.ultimo{
background-color: rgb(47, 168, 102);
color: white;
padding: 10px;
margin: 10px 20px 10px 20px;
border-radius: 20px;
}
.ultimo > h2{
  color: white;
  
}
ul{
  list-style-position: inside; 
  columns: 2; 
 
}
h2{
  color: white;
}
h3{
  
  padding-left: 20px ;
}
.eu{
  margin: -30px 20px 10px 20px;  
  padding-top: 5px;
  padding-bottom: 5px;
  background-color:rgb(197, 235, 214) ;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  }
  .video{
    padding: 0px;
    position: relative;
    padding-bottom: 58.5%;
    border: none;
  }
  .video > iframe{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90% ;
  height: 90%;
  }
  
  .eu > p{
    text-decoration: none;
    color: black;
  }
  a{
    color: green;
    text-decoration: none;
    font-weight: bold;    
  }
  nav > a:hover{
    background-color: green;
    padding: 7px;
    border-radius: 5px;
  }
  .lastone > p{
    background-color: rgb(26, 92, 56);
    color: white;
    text-align: center;
  }
  .lastone{
    padding: 1px;
    font-size: 10px;
  }
  strong{
    color: green;
  }
section > footer {
  text-decoration: none;
}
aside{
  margin-top: 20px;
}
